# Rendered by lzctl from the landing zone spec. Edit the spec, not this file.

# yaml-language-server: $schema=../../../../schemas/vpc.schema.json

project_id: $project_ids:net-core-0
name: hub-0
delete_default_routes_on_create: true
nat_config:
{% for region in regions %}
  nat-{{ region }}:
    region: {{ region }}
{% endfor %}
peering_config:
{% for env in environments %}
  to-{{ env }}:
    peer_network: $networks:{{ env }}
{% endfor %}
routers:
  hybrid-connectivity-router:
    region: $locations:primary
    asn: 64514
routes:
  default:
    dest_range: 0.0.0.0/0
    next_hop_type: "gateway"
    next_hop: "default-internet-gateway"
factories_config:
  vlan_attachments: "none"
